<!DOCTYPE html>
<html>
	<head>
		<style>
			canvas[resize]
			{
				width : 1000px;
				height : 400px;
				border : 4px solid black;
			}
		</style>
		
		<!-- Load the Paper.js library -->
		<script type="text/javascript" src="index_files/paper.js">
		</script>
		<!-- Define inlined PaperScript associate it with myCanvas -->
		<script type="text/paperscript" canvas="myCanvas">
		
			var ws = new WebSocket('wss://localhost:8000');
			var rep = "", i = 1, j = 0;
			var vector, clone, circle, destPoint;
			var tab = [];
			
			ws.onmessage = function(msg){
				// traitement de la réponse du serveur
				var cmd = msg.data.substring(0,4);
				switch(cmd){
					case "init" :
						init();
						break;
					case "upda" :
						rep = msg.data.substring(4);
						console.log("update received");
						console.log(rep);
						update(rep);
							break;
					default :
						console.log("Cas default atteint, message : " + msg.data);
				}
			};
			
			function init(){
			
				var centre = new Point(Math.random() * 1000, Math.random() * 400);
				circle = new Path.Circle(centre, 20);
				circle.fillColor = 'red';
				
				tab.push(circle);
			}
			
			function update(str){
				var ta = str.split(",");
				var nx, ny;
				nx = ta[0];
				ny = ta[1];
				
				/*if(nx > 1000){
					nx -= 1000;
				}
				else if(nx < 0){
					nx += 1000;
				}
				
				if(ny > 400){
					ny -= 400;
				}
				else if(ny < 0){
					ny += 400;
				}*/
				
				circle.position.x = nx;
				circle.position.y = ny;
				view.update();
				
				j++;
				if(j == 8){
					clone = circle.clone();
					tab.push(clone);
					if( i < 10){
						i++;
					}
					else{
						tab.splice(1,1)[0].remove();
					}
					j = 0;
				}
			}
		
			function onMouseMove(event){
				destPoint = event.point;
				envoyer();
			}
			
			
			function envoyer(){
				if(circle != null){
					var res = circle.position.x + '/' + circle.position.y + '/' + destPoint.x + '/' + destPoint.y;
					ws.send(res);	
					console.log('res = : ' + res);
				}
			}
		</script>
	</head>

	<body>
		<canvas id="myCanvas" resize="true"></canvas>
	</body>
</html>