<!DOCTYPE html>
<html>
	<head>
		<style>
			canvas[resize]
			{
				width : 1000px;
				height : 400px;
				border : 4px solid black;
			}
		</style>
		
		<!-- Load the Paper.js library -->
		<script type="text/javascript" src="index_files/paper.js">
		</script>
		<!-- Define inlined PaperScript associate it with myCanvas -->
		<script type="text/paperscript" canvas="myCanvas">
		
			var ws = new WebSocket('wss://localhost:8000');
			var rep = "", i = 1, j = 0;
			var vector, circle, destPoint;
			var tab = [];
			var snakes = [];
			
			ws.onmessage = function(msg){
				// traitement de la réponse du serveur
				var cmd = msg.data.substring(0,4);
				switch(cmd){
					case "init" :
						console.log("init received");
						init();
						break;
					case "upda" :
						rep = msg.data.substring(4);
						console.log("update received : " + rep);
						update(rep);
						break;
					default :
						console.log("Cas default atteint, message : " + msg.data);
						break;
				}
			};
			
			function init(){				
				var centre = new Point(Math.random() * 1000, Math.random() * 400);
				circle = new Path.Circle(centre, 20);
				circle.fillColor = 'red';
				
				tab.push(circle);
				
				for(var k = 0 ; k < 9 ; k++){
					var clone = circle.clone();
					tab.push(clone);
				}
				console.log('init terminé');
				console.log(tab);
			}
			
			function update(str){
				project.activeLayer.removeChildren();
				var t = [];
				var tk = [];
				
				t = str.split("|");
				
				for(var k = 0 ; k < t.length ; k++){
					tk = t[k].split["/"];
					for(var l = 0 ; l < tk.length ; l+=2){
						var p = new Point(tk[l], tk[l+1]);
						var c = new Path.Circle(p, 20);
					}
				}
				
				view.update();
			}
		
			function onMouseMove(event){
				destPoint = event.point;
				envoyer();
			}
			
			function envoyer(){
				var res = "";
				if(circle != null){
					for( k = 0 ; k < tab.length ; k++){
						res += tab[0].position.x + '/' + tab[0].position.y + '/';
					}
					res += destPoint.x + '/' + destPoint.y;
					
					ws.send(res);	
					console.log(res);
				}
			}
		</script>
	</head>

	<body>
		<canvas id="myCanvas" resize="true"></canvas>
	</body>
</html>